/*-----------------------------------------------------------Temporary------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
	margin: 0px;
	padding: 0px;
}

:root{
	--navbar-text-color: #cfcd33;
	--navbar-background-color: #5a291a;
	--hover-navbar-text-color: #333333;
	--hover-navbar-background-color: #008cba;
}

body {
	font-family: 'Poppins', sans-serif;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/

.custom-box {
    background-color: #a85f34;
    padding: 1px 0 30px 0;
}

.custom-box .heading {
    color: #f0f0f0;
    text-align: center;
    letter-spacing: 2px;
    font-size: 35px;
    padding: 10px 0;
    margin: 0 8%;
}

.custom-box .subtitle {
    color: #f0f0f0;
    text-align: center;
    font-size: 23px;
    padding-bottom: 20px;
    margin: 0 8%;
}

.draggable-container .heading {
    text-align: center;
    letter-spacing: 2px;
    font-size: 35px;
    padding-top: 15px;
    margin: 0 8%;
}

/* Drop Zone*/
.dropzone-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px 10%;
}

#dropzone-0 {
    display: none;
}

.dropzone {
    position: relative;
    height: 130px;
    width: 130px;
    margin: 13px 2%;
}

.dropzone:after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.dropzone .draggable {
    padding: 15px;
    width: 100px;
    background-color: white;
    border-radius: 5px;
}

.empty-zone {
    height: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.plus {
    position: relative;
    margin: 150px 0 30px -30px;
}

.plus > div {
    position: absolute;
    height: 4px;
    width: 30px;
    background-color: #f0f0f0;
}

.plus .line1 {
    transform: rotate(90deg);
}

.empty-zone .name {
    font-size: 18px;
    margin: 0 10px;
    text-align: center;
    color: #f0f0f0;
    line-height: 22px;
}

/* Draggable Items */
.draggable-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 8%;
}

.draggable-items > div {
    margin: 10px 2%;
}

.draggable-items .draggable {
    padding: 7px;
    width: 100px;
}

.draggable-items #draggable-0 {
    display: none;
}

.draggable-items .quantity {
    display: none;
}

.item-container {
    position: relative;
    z-index: 2;
}

.item-container .quantity {
    position: absolute;
    top: 0;
    font-size: 18px;
    margin: -22px 0 0 110px;
    border-radius: 50%;
    background-color: rgb(187, 4, 4);
    color: white;
    border: 1.5px solid black;
}

/* General */
.s-digit {
    padding: 9px 12px;
}

.d-digit {
    padding: 9px 9px;
}

.d-none {
    display: none;
}

.border-0 {
    border: none;
}

.border-2 {
    border: 2px solid #f0f0f0;
    border-radius: 8px;
}

.border-gray {
    border-color: rgb(107, 107, 107);
}